.quiz-card-container {
  width: 150px;
  height: 180px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem;

  display: flex;
  flex-direction: column;
}

.quiz-card-container > button {
  margin: 1rem;
}

.grow {
  display: flex;
  flex-grow: 1;
}
